[core]
    editor = vim
    excludesfile = ~/.gitignore
[help]
    autocorrect = 1
[color]
    ui = true
[alias]
    a = add
    s = status -suall
    c = commit
    st = stash -u
    sa = stash apply
    l = !. ~/.githelpers && vgl
    pp = !git pull && git push
