[core]
	editor = vim
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
[color]
	ui = true
[push]
	default = simple
[alias]
	a = add
	s = status -suall
	c = commit
	st = stash -u
	sa = stash apply
	l = !. ~/.githelpers && pretty_git_log
	pp = !git pull && git push
