[core]
    editor = vim
[help]
    autocorrect = 1
[color]
    ui = true
[alias]
    a = add
    s = status --untracked-files=all
    c = commit
    st = stash
    sa = stash apply
    l = !. ~/.githelpers && pretty_git_log
    pp = !git pull && git push
[push]
    default = matching
